/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

&mt { flavor = "balanced"; };

&lt {
    flavor = "balanced";
    quick-tap-ms = <80>;
};

/ {
    chosen {
        zmk,matrix_transform = &default_transform;

        // zmk,matrix_transform = &five_column_transform;
    };
};

/ {
    behaviors {
        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD0";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPS>;
        };

        stickykeyshift_caps: stickykeyshift_caps {
            compatible = "zmk,behavior-tap-dance";
            label = "STICKYKEYSHIFT_CAPS";
            #binding-cells = <0>;
            bindings = <&sk LSHFT>, <&caps_word>;
        };
    };

    combos {
        compatible = "zmk,combos";

        paste {
            bindings = <&kp LC(V)>;
            key-positions = <3 2>;
            layers = <1>;
            timeout-ms = <50>;
            require-prior-idle-ms = <100>;
        };

        copy {
            bindings = <&kp LC(C)>;
            key-positions = <3 4>;
            layers = <1>;
            timeout-ms = <50>;
            require-prior-idle-ms = <100>;
        };

        cut {
            bindings = <&kp LC(X)>;
            key-positions = <1 2>;
            layers = <1>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";

            // --------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSLH |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   | 
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | SPC/LWR | DEL |   | ENT/3 | BKSPC/RSE  | ALT |

            bindings = <
&kp TAB    &kp Q           &kp W           &kp E             &kp R        &kp T           &kp Y        &kp U        &kp I         &kp O           &kp P                    &kp BSLH
&kp LCTRL  &mt LEFT_GUI A  &mt LEFT_ALT S  &mt LEFT_SHIFT D  &mt LCTRL F  &kp G           &kp H        &mt RCTRL J  &mt RSHIFT K  &mt LEFT_ALT L  &mt RIGHT_GUI SEMICOLON  &kp SQT
&td0       &kp Z           &kp X           &kp C             &kp V        &kp B           &kp N        &kp M        &kp COMMA     &kp DOT         &kp FSLH                 &kp ESC
                                           &kp LGUI          &lt 1 SPACE  &kp LEFT_ALT    &lt 4 ENTER  &lt 2 BSPC   &lt 3 DELETE
            >;
        };

        lower_layer {
            display-name = "NUMBER";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSLH |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | DEL |   | ENT |     | ALT |

            bindings = <
&trans                &kp N1  &kp N2  &kp N3  &kp N4  &kp N5    &kp N6    &kp N7    &kp N8  &kp N9     &kp N0    &kp BSPC
&trans                &trans  &trans  &trans  &trans  &trans    &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &kp HOME  &kp PG_UP
&stickykeyshift_caps  &trans  &trans  &trans  &trans  &trans    &trans    &trans    &trans  &trans     &kp END   &kp PG_DN
                                      &trans  &trans  &trans    &trans    &trans    &trans
            >;
        };

        raise_layer {
            display-name = "SYMBOL";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSLH |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | DEL |   | ENT |     | ALT |

            bindings = <
&trans  &kp EXCL        &kp AT     &kp HASH          &kp DLLR           &kp PRCNT                &kp CARET  &kp AMPS   &kp ASTRK  &kp LPAR  &kp RPAR  &kp BSPC
&trans  &kp EQUAL       &kp PLUS   &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp LEFT_PARENTHESIS     &kp MINUS  &kp EQUAL  &kp LBKT   &kp RBKT  &kp BSLH  &kp GRAVE
&trans  &kp UNDERSCORE  &kp MINUS  &kp LEFT_BRACE    &kp RIGHT_BRACE    &kp RIGHT_PARENTHESIS    &kp UNDER  &kp PLUS   &kp LBRC   &kp RBRC  &kp PIPE  &kp TILDE
                                   &trans            &trans             &kp SPACE                &kp RET    &trans     &trans
            >;
        };

        layer_3 {
            display-name = "Fn";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  F1 |  F2 |  F3 | F4  | F5  |   | F6  |  F7 | F8  |  F9 | F10 |  F11 |
            // | CTRL |     |     | UP  |     |     |   |     |     |     |     |  PRINTSCREEN  |  F12 |
            // | SHFT |     |LEFT | DOWN|RIGHT|     |   |     |     |     |     | SCROLLLOCK |  PAUSE_BREAK |
            //                    | GUI |     | DEL |   | ENT |     | ALT |

            bindings = <
&trans  &kp F1           &kp F2          &kp F3    &kp F4         &kp F5              &kp F6  &kp F7  &kp F8  &kp F9   &kp F10          &kp F11
&trans  &kp LC(TAB)      &kp LC(LEFT)    &kp UP    &kp LC(RIGHT)  &kp LC(UP_ARROW)    &trans  &trans  &trans  &kp INS  &kp PRINTSCREEN  &kp F12
&trans  &kp LS(LC(TAB))  &kp LEFT_ARROW  &kp DOWN  &kp RIGHT      &kp LC(DOWN)        &trans  &trans  &trans  &trans   &kp SCROLLLOCK   &kp PAUSE_BREAK
                                         &trans    &trans         &trans              &trans  &trans  &trans
            >;
        };

        Utility {
            display-name = "Util";
            bindings = <
&trans  &out OUT_BLE     &out OUT_USB    &trans             &trans            &trans             &trans           &trans           &trans           &trans           &trans  &trans
&trans  &bt BT_CLR_ALL   &bt BT_SEL 0    &bt BT_SEL 1       &bt BT_SEL 2      &bt BT_SEL 3       &trans           &trans           &trans           &trans           &trans  &trans
&trans  &rgb_ug RGB_OFF  &rgb_ug RGB_ON  &ext_power EP_OFF  &ext_power EP_ON  &rgb_ug RGB_EFF    &rgb_ug RGB_EFR  &rgb_ug RGB_SPI  &rgb_ug RGB_BRI  &rgb_ug RGB_BRD  &trans  &trans
                                         &trans             &trans            &trans             &trans           &trans           &trans
            >;
        };
    };
};
